# Copy file này thành .env rồi điền giá trị thật vào
# cp .env.example .env

# PostgresSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password

# MongoDB
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=your_mongo_password

# Redis
REDIS_PASSWORD=your_redis_password

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=your_keycloak_password

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=your_minio_password

# Mail (Gmail App Password — tạo tại myaccount.google.com/apppasswords)
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password
