elasticsearch:
  url: ${ELASTICSEARCH_URL:elasticsearch}
  username: ${ELASTICSEARCH_USERNAME:}
  password: ${ELASTICSEARCH_PASSWORD:}

server:
  port: 8092
  servlet:
    context-path: /search

spring:
  application:
    name: search
  threads:
    virtual:
      enabled: true
  
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${JWT_ISSUER_URI:http://identity/realms/hoangtien2k3}

  kafka:
    consumer:
      bootstrap-servers: ${KAFKA_SERVERS:kafka:9092}
      group-id: search

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

management:
  tracing:
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: prometheus
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
    tags:
      application: ${spring.application.name}

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

springdoc:
  swagger-ui:
    path: /swagger-ui
    oauth:
      use-pkce-with-authorization-code-grant: true
      client-id: swagger-ui
  packagesToScan: com.hoangtien2k3.search
  oauthflow:
    authorization-url: http://identity/realms/hoangtien2k3/protocol/openid-connect/auth
    token-url: http://identity/realms/hoangtien2k3/protocol/openid-connect/token

ecommerce:
  services:
    product: http://api.hoangtien2k3.local/product

product:
  topic:
    name: dbproduct.public.product
