server:
  port: 8086

spring:
  application:
    name: PRODUCT-SERVICE

  datasource:
    url: jdbc:mysql://localhost:3306/productservice?useSSL=false
    username: root
    password: ${MYSQL_PASSWORD:12042003}

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        use_sql_comments: true
        format_sql: false

  # ZIPKIN & SLEUTH
  zipkin:
    base-url: ${ZIPKIN_URL:http://localhost:9411}
  sleuth:
    sampler:
      probability: 1.0

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

springdoc:
  swagger-ui:
    path: /swagger-ui.html

logging:
  file:
    name: src/main/resources/script/stage_log.log
    clean-history-on-start: true
  level:
    org:
      hibernate:
        SQL: DEBUG
      springframework:
        web: INFO
        data: INFO
        boot:
          autoconfigure:
            data:
              rest: INFO
            orm: INFO
