server:
  port: 8082

spring:
  application:
    name: INVENTORY-SERVICE

  datasource:
    url: jdbc:mysql://localhost:3306/inventoryservice?useSSL=false
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${MYSQL_PASSWORD:12042003}

  jpa:
    show-sql: false
    format-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        show_sql: false
        format_sql: false

  # ZIPKIN & SLEUTH
  zipkin:
    base-url: ${ZIPKIN_URL:http://localhost:9411}
  sleuth:
    sampler:
      probability: 1.0

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

jwt:
  secret-key: ${JWT_SECRET:vip2023}

user-service:
  base-url: http://localhost:8080
